.btnsEditing {
  margin-block: 0.7rem 0.3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.spanText {
  font-size: 13px;
  color: rgb(48, 48, 48);
  margin-inline-end: 5px;

}

.spanText span {
  color: var(--main-secondary-color);
  font-weight: 500;
  font-size: 15px;
}

.btnsEditing .rightPart button {
  padding-inline: 0.4rem;
  padding-block: 5px;
  /* background-color: rgb(10, 170, 105); */
  border: none;
  color: #fff;
  /* font-weight: 500; */
  font-size: 13px;
  border-radius: 1px;
  margin-inline-end: 3px;
}

.btnsEditing .rightPart button:last-of-type{
    height: fit-content;
    padding-block: 1px;
    font-size: 11px;

}
.dark-purple {
  background-color: rgb(96, 92, 168);
}
.dark-blue {
  background-color: rgb(0, 31, 63);
}


.leftPart button{
    border: none;
    color: #fff;
    padding: 5px 10px;
    font-size: 13px;
}


button{
  margin-block: 5px;
}