<section class="paySec my-2">
  <form>
    <div class="inputs">
      <div class="inputGroup">
        <span class="">
          <i class="fa-solid fa-user"></i>
        </span>
        <select id="inputState" class="selectorFormate">
          <option selected> عميل نقدى  </option>
          <option>...</option>
        </select>
        <span class="blusCircle">
            <i class="fa-solid fa-circle-plus"></i>
          </span>
      </div>
      <div class="inputGroup">
        <span class=""><i class="fa-solid fa-magnifying-glass-plus"></i></span>
        <input
          type="text"
          placeholder="أدخل اسم المنتج /sku/مسح الباركود"
          class="inputFormate"
        />
        <span class="blusCircle">
          <i class="fa-solid fa-circle-plus"></i>
        </span>
      </div>
    </div>
  </form>

  <table class="table mt-3">
    <thead>
      <tr class="table-dark ">
        <th scope="col" colspan="3"> 
          <span> منتج </span> 
          <i class="fa-solid fa-circle-info light-color"></i>

        </th>
        <th scope="col" colspan="2"> الكمية </th>
        <th scope="col" colspan="2"> المجموع </th>
        <th scope="col" colspan="1"><i class="fa-solid fa-xmark"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr>
   <td colspan="3">iphone 13 pro  </td>
   <td colspan="2">1</td>
   <td colspan="2">25.000 </td>
   <td colspan="1"> 0</td>

      </tr>


    </tbody>
  </table>
</section>
