<nav class="navbar navbar-expand-lg bg-transparent">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <button
          class="light-red-bg btn-formate me-2 rounded-1 fw-bold sm-fontSize"
        >
          <i class="fa-solid fa-house-chimney"></i>
          <span class=""> الصفحة الرئيسية</span>
        </button>

        <button
          class="secondry-bg btn-formate me-2 rounded-1 fw-bold sm-fontSize"
        >
          <i class="fa-solid fa-arrow-rotate-left"></i>
          <span> مرتجع المبيعات</span>
        </button>

        <button
          class="dark-blue-bg btn-formate me-2 rounded-1 fw-bold sm-fontSize"
        >
          <i class="fa-solid fa-circle-minus"></i>
          <span class=""> إضافة مصاريف</span>
        </button>

        <button class="yell-orng-bg btn-formate me-2 fw-bold sm-fontSize">
          <i class="fa-solid fa-pause"></i>
          <span class=""> مبيعات معلقة</span>
        </button>

        <button class="light-red-bg btn-formate me-2">
          <i class="fa-solid fa-expand"></i>
        </button>

        <button class="light-green-bg btn-formate me-2">
          <i class="fa-solid fa-calculator"></i>
        </button>

        <button class="secondry-bg btn-formate me-2">
          <i class="fa-solid fa-briefcase"></i>
        </button>

        <button class="light-red-bg btn-formate me-2">
          <i class="fa-solid fa-rectangle-xmark"></i>
        </button>

        <button class="light-blue-bg btn-formate me-2">
          <i class="fa-solid fa-backward-fast"></i>
        </button>
      </ul>
    </div>
  </div>
</nav>
