<nav class=" ">
  <div class="w-100">
    <div class=" navEdit">
      <form class="" role="search">
        <div class="formItem d-flex pe-2">
          <label for="tax" class="taxLabel d-block ms-2"> الفرع :</label>
          <select id="tax" class="selectFormate">
            <option selected>الفرع الرئسى</option>
            <option> فرع سموحة </option>
            <option> فرع المعادى </option>

          </select>
        </div>
        <span class="">27-07-2023</span>|<span class="">PM 04:25</span>

      </form>
      <ul class="  mb-2 mb-lg-0  ps-3">
        <button
          class="light-red-bg btn-formate  rounded-1 fw-bold sm-fontSize"
        >
          <i class="fa-solid fa-house-chimney "></i>
          <span class=""> الصفحة الرئيسية</span>
        </button>

        <button
          class="secondry-bg btn-formate  rounded-1 fw-bold sm-fontSize"
        >
          <i class="fa-solid fa-arrow-rotate-left"></i>
          <span> مرتجع المبيعات</span>
        </button>

        <button
          class="dark-blue-bg btn-formate  rounded-1 fw-bold sm-fontSize"
        >
          <i class="fa-solid fa-circle-minus"></i>
          <span class=""> إضافة مصاريف</span>
        </button>

        <button class="yell-orng-bg btn-formate  fw-bold sm-fontSize">
          <i class="fa-solid fa-pause"></i>
          <span class=""> مبيعات معلقة</span>
        </button>

        <button class="light-red-bg btn-formate">
          <i class="fa-solid fa-expand "></i>
        </button>

        <button class="light-green-bg btn-formate ">
          <i class="fa-solid fa-calculator"></i>
        </button>

        <button class="secondry-bg btn-formate ">
          <i class="fa-solid fa-briefcase"></i>
        </button>

        <button class="light-red-bg btn-formate ">
          <i class="fa-solid fa-rectangle-xmark"></i>
        </button>

        <button class="light-blue-bg btn-formate ">
          <i class="fa-solid fa-backward-fast"></i>
        </button>
      </ul>
    </div>
  </div>
</nav>
